/* Assuming you have a global CSS file */

/* Header styles */

.Mycontainer {
    display: grid;
    grid-template-rows: 128px auto;
    height: 100vh; /* Ensure the container fills the viewport height */
}
.Myheader {
    display: grid;
    grid-template-columns: auto 256px;
  }
  
  .Myleft {
    display: flex;
    justify-content: flex-start;
    background-color: grey;
  }
  
  .Myright {
    flex: 1;
    justify-content: flex-end;
    position: relative;
    background-color: pink;
  }
  
  .Mywebcam {
    position: absolute; /* Position webcam absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9; /* Place webcam above canvas */
}

.Mycanvas {
    position: absolute; /* Position canvas absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9; /* Place canvas below webcam */
}

 .Myleft a{
    margin-right: 10px;
 }

 .Myquestion_view{
    /* background-color: rgb(80, 75, 76); */
    height: 100vh;
 }

 .Mysections{
    display: flex;
    justify-content: space-evenly;
 }